<h2>Publications</h2>

<%= link_to "New publication", new_admin_publication_path, class: "btn btn-primary" %>

<% @publications.each do |publication| %>
    <div class="card">
        <div class="card-header">
            <%= publication.title %>
        </div>
        <div class="card-body">
            <p><%= publication.description %></p>
            <p><%= publication.file_url %></p>
        </div>
        <div class="card-footer text-muted">
            <%= link_to "View more details", admin_publication_path(publication), class: "btn btn-default" %>
            <%= link_to "Edit", edit_admin_publication_path(publication), class: "btn btn-default" %>
        </div>
    </div>
<% end %>